@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --color-violet-400: theme('colors.violet.400');
    --color-fuchsia-400: theme('colors.fuchsia.400');
    --color-fuchsia-900: theme('colors.fuchsia.900');
    --color-amber-300: theme('colors.amber.300');
    --color-teal-300: theme('colors.teal.300');
    --color-gray-950: theme('colors.gray.950');
    --color-indigo-900: theme('colors.indigo.900');
  }
  .absolute-center {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
}
@layer utilities {
  /* sections */
  .section-container {
    @apply container mx-auto py-24 md:py-36 lg:py-48 overflow-hidden;
  }
  .footer-container {
    @apply container mx-auto py-8 overflow-hidden;
  }
  /* custom borders */
  .border-gradient {
    @apply border-2 border-transparent;
    background:
      linear-gradient(var(--color-gray-950), var(--color-gray-950)) padding-box,
      conic-gradient(
          from 45deg,
          var(--color-violet-400),
          var(--color-fuchsia-400),
          var(--color-amber-300),
          var(--color-teal-300),
          var(--color-violet-400)
        )
        border-box;
  }
  .border-custom-1 {
    @apply border-gray-200/20;
  }
  .border-section {
    @apply border-x border-gray-200/20;
  }

  /* headings */
  .h1-semibold {
    @apply text-4xl md:text-5xl lg:text-6xl font-semibold leading-tight text-gray-100;
  }
  .h2-semibold {
    @apply text-3xl md:text-4xl lg:text-5xl font-semibold leading-tight text-gray-200;
  }
}
